@font-face {
    font-family: "Helvetica Neue Bold";
    src: url("../fonts/Helvetica Neue 75 Bold.eot"); /* IE9*/
    src: url("../fonts/Helvetica Neue 75 Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Helvetica Neue 75 Bold.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Helvetica Neue 75 Bold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Helvetica Neue 75 Bold.svg#Helvetica Neue 75 Bold") format("svg"); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue Light";
    src: url("../fonts/Helvetica Neue 45 Light.eot"); /* IE9*/
    src: url("../fonts/Helvetica Neue 45 Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Helvetica Neue 45 Light.woff") format("woff"), /* chrome、firefox */
    url("../fonts/Helvetica Neue 45 Light.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/Helvetica Neue 45 Light.svg#Helvetica Neue 45 Light") format("svg"); /* iOS 4.1- */
    font-weight: normal;
    font-style: normal;
}

